@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
    margin: 0;
}



h1, h2 {
    font-family: 'East Sea Dokdo', cursive;
    margin: 4px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

div {
    background-color: #FAD4CD;
    /* border: 1px solid red; */
}

#player, #computer {
    padding: 16px;
    border-radius: 16px;
    border: 2px transparent solid;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 32px;
}

#player:hover, #computer:hover {
    border: 2px black solid;
}

#player:active, #computer:active {
    opacity: 0.5;
}

#player {
    background-color: #B3CAFA; 
    margin-right: 8px;@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
}

#computer {
    background-color: #D9FA9B;
}

.top, .mid, .bot {
    width: 150px;
    height: 150px;
}

.top:hover, .mid:hover, .bot:hover {
    cursor: pointer;
}

.top {
    border-bottom: 6px solid #6C80AD;
}
.left {
    border-right: 6px solid #6C80AD;
}
.right {
    border-left: 6px solid #6C80AD;
}
.bot {
    border-top: 6px solid #6C80AD;
    margin-bottom: 32px;
}

#wrap, .versus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board, .against {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    /* align-items: center; */
}