body {
    margin: 0;
}

div {
    background-color: #FAD4CD;
    /* border: 1px solid red; */
}

#player, #computer {
    padding: 16px;
}

#player {
    background-color: #B3CAFA; 
    margin-right: 8px;
}

#computer {
    background-color: #D9FA9B;
}

.top, .mid, .bot {
    width: 200px;
    height: 200px;
}

.top {
    border-bottom: 6px solid #6C80AD;
}
.left {
    border-right: 6px solid #6C80AD;
}
.right {
    border-left: 6px solid #6C80AD;
}
.bot {
    border-top: 6px solid #6C80AD;
    margin-bottom: 32px;
}

#wrap, .versus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board, .against {
    display: flex;
    flex-wrap: wrap;
    width: 676px;
    justify-content: center;
    /* align-items: center; */
}